tr
  td.name=param.name
  td(colspan=2)
    - var required = false;
    - if(param.required) {
    -   required = true;
    - }
    textarea(name=param.name, required=required, )=JSON.stringify(param.example)
  td=param.location
  td=param.type
